@{
    ViewData["Title"] = "Главная";
}

<div class="text-center ">
    <div class="text-shadow">
        <h1 class="display-2 mb-2">ТоварЛайн</h1>
        <p class="lead mb-3">Это современный интернет-магазин, специализирующийся на продаже самых передовых электронных устройств и технологий. Мы предлагаем широкий ассортимент от лучших мировых брендов, включая смартфоны, ноутбуки, планшеты, умные часы, гаджеты и аксессуары, чтобы удовлетворить потребности даже самых требовательных покупателей. Наш магазин гарантирует высокое качество продукции, быструю доставку и превосходное обслуживание клиентов.</p>
    </div>
</div>

<div class=""></div>