@page
@model ProjectStore.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Input.Product.Id" />
            <div class="form-group">
                <label asp-for="Input.Product.Name" class="control-label"></label>
                <input asp-for="Input.Product.Name" class="form-control" />
                <span asp-validation-for="Input.Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Product.Price" class="control-label"></label>
                <input asp-for="Input.Product.Price" class="form-control" />
                <span asp-validation-for="Input.Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Product.Description" class="control-label"></label>
                <input asp-for="Input.Product.Description" class="form-control" />
                <span asp-validation-for="Input.Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Product.Category" class="control-label"></label>
                <input asp-for="Input.Product.Category" class="form-control" />
                <span asp-validation-for="Input.Product.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ImageFile" class="control-label"></label>
                <input type="file" asp-for="Input.ImageFile" class="form-control" />
                <span asp-validation-for="Input.ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
